- title "About"

.content.just-text
  %h1 About Site 3

  %p Site 3 coLaboratory is a 2,000 square foot member-run makerspace in Toronto’s west end. We are dedicated to making, teaching, learning and thinking about the intersection between art and technology. We make amazing things, and we teach others to make amazing things, too.
  %p The vision for Site 3 is to have a space that promotes a four step cycle of <strong>create, display, teach and inspire</strong>.

  %ul
    %li <strong>Create</strong> a space that provides members with access to the right tools/facilities
    %li <strong>Display</strong> and promote member made #{ link_to 'projects', projects_path }
    %li <strong>Teach</strong> members and guests new skills through regular #{ link_to 'events/classes', classes_path }
    %li <strong>Inspire</strong> a community with the tools and knowledge they need to bring their projects to life

  %p Interested in learning more? Come by Site 3 for a tour any Thursday after 7pm.
