- title "Classes/Events"

.content.just-text
  %h1 Open Nights
  %p Open house and studio nights are a perfect time to tour the shop and meet some members. If you have a small project you would like to work on or ask for help with you are welcome to bring it by.

  #open-house
    %h2 Thursday Open House Night
    %p.sub-heading Thursdays 7pm - 10pm
    %p Open House is every Thursday night starting at 7pm. You can get a tour of the shop and meet the makers that use it. If it is your first time we recommend coming later in the evening, from 8pm &ndash; 9pm.

  #women-lgbtq-open-studio
    %h2 Tuesday Women + LGBTQ Open Studio
    %p.sub-heading Tuesdays 7pm - 10pm
    %p Site 3 is proud to introduce Women + LGBTQ Alliance Night. Every Tuesday the shop will be publicly accessible to anyone who identifies as a member of the Women + LGBTQ community. The goal of these evenings it to make a shop or electronics working environment an inclusive and engaging place where we can socialize, learn and be empowered. 
    %p During these hours, there will be either open shop time or scheduled activities led by a member of the community. We are also around to chat, socialize or answer any questions you have.

  %h1 Recurring Classes &amp; Workshops
  %p For tickets and up to date listings of classes please visit our #{ link_to "Eventbrite", t('urls.eventbrite'), target: "_blank"}. One off classes are not listed here but may be on our #{ link_to "Eventbrite", t('urls.eventbrite'), target: "_blank"}. For class announcements follow us on #{ link_to "Facebook", t('urls.facebook'), target: "_blank" }.

  %h2 Laser Traning
  %p This class will take you through the basics of good vector document preparation for any 2-dimensional CNC tool. It will cover the specific steps for using the laser, from creating an image in the proper format to correct and safe operation of the laser itself.
  %p Participants will cut or etch their own class completion certificates, which we'll keep at Site 3 as the way to know who is allowed to use the laser, and will get to do a cut/etch job of their own design to take home.

  %h2 3D Printing
  %p This class covers the specifics of preparing a job for our 3D printer and will let you print a small job. It does not cover how to make 3D models. Follows the Laser Class, so you can have a full day of home manufacturing classes!

  %h2 Getting Started with Arduino
  %p This Wiring and Arduino workshop is directed at people wanting to learn about Wiring and Arduino, and how to program the boards to control things like lights, switches and motors.
  %p Students will learn how to program using the software environment and go through a set of examples and demonstrations.

  %h2 Basic Woodworking
  %p If you're afraid of any of the big, loud, finger-severing tools this is your chance to learn how to use them safely and make something practical at the same time. Your end goal is to create a lidded box with internal dimensions of 3" x 3" x 4" that you'll be able to cherish forever.
