- title "Location"

.content.just-text
  %h1 Location
  %p Site 3 coLaboratory is located just near Bloor &amp; Ossington in an alley behind the church on the south-west corner at #{ link_to t('address.full'), t('urls.google_maps_location'), target: "_blank" }.

  #map

  %h2 Accessibility
  %p Site 3 has two floors, the first floor is accessible through the front door with a step or through barn doors large enough for a chariot. The second floor is only accessible by a flight of stairs.
