- title "Location"

.content.just-text
  %h1 Site 3 Location

  #map

  %p Site 3 coLaboratory is located just south of Bloor and west of Ossington in the alley behind the church. The first floor of Site 3 is ramp accessible, but the second floor is only accesible by a flight of stairs.
