- title "Membership"

.content.just-text
  %h1 Membership

  %p Site 3 is completely run by the members. If this sounds like your kind of thing, maybe you should join us?
  %p To see if Site 3 is right for you come by open nights on Thursday or Tuesday after 7pm or email questions to #{ mail_to t('email') }.