- title "Membership"

.content.just-text
  %h1 Membership

  %p Site 3 completely run by the members. If this sounds like your kind of thing, maybe you should join us?
  %p To see if Site 3 is right for you come by open nights on Thursday after 7pm or email questions to <a href="mailto:info@site3.ca">info@site3.ca</a>

  %h2 Associate Membership
  %p Associate membership is designed to be less of a commitment, for those people in the community who want to participate but not at the full membership level. Associate membership get access to Site 3&rsquo;s resources, e.g. using the tools, using the space for events, displaying works in gallery events. You also get a discount for many classes and workshops. Associate members get access to Site 3 on Mondays from 7pm &ndash; 10pm and on weekends from noon &ndash; 6pm. Associate membership costs $40/month.

  %h2 Core Membership
  %p Core members are the group collectively responsible for running and maintaining the space. Members have keys to the space for 24 hour access, and determine how the space is operated: the people who create and run the space as well as use it. The core members get priority use of the space, as well as free or significantly reduced price classes and workshops. Core membership costs $115/month (taxes included).
