<p>Your application to Site 3 has been received.</p>

<p>Your application still needs to be approved and you'll need to visit in person to get a key, sign a waiver, etc. You will not pay any membership fees until you have been approved.</p>
