.static-pages-home {
  .hero-content {
    color: #fff;
    opacity: .85;
    padding-top: 40px;
    font-size: 32pt;
    margin: 0 auto;

    p {
      line-height: 1.1;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  @media (max-width: $medium-breakpoint) {
    #main {
      background: #aaa;
      background-image: image-url('bg.jpg');
      background-size: cover;
    }
    .hero-content {
      font-size: 16pt;
      padding: 15px;
    }
  }

  @media (min-width: $medium-breakpoint) {
    .hero-content {
      padding-top: 40px;
      max-width: 20em;
    }
  }
}
