#footer {
  font-size: 12pt;
  background: $headerBackgroundColor;

  .container {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .heading {
    margin-bottom: .25em;
    margin-top: 0;
  }

  .hours {
    h3 {
      padding-bottom: 6px;
    }
    td {
      padding-right: .25em;
      &:last-child {
        padding-right: 0;
      }
    }
    .member-hours {
      color: $lightTextColor;
      td {
        padding-top: 6px;
      }
    }
    span {
      color: $lightTextColor;
    }
  }

  .footer-contact {
    padding-top: .5em;
    padding-bottom: .5em;

    text-align: center;
    p {
      margin: 0;
    }

    .fa {
      font-size: 22px;
      color: $brandColor;
      margin-left: .25em;
    }
  }

  #promo-section {
    display: block;
    height: 140px;
    background-color: #000;
    background-image: image-url('promo-halloween-party-2014.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    color: $textColor;
    @include bordered-box;

    &:hover {
      text-decoration: none;
    }

    .promo-content {
      padding-top: 20px;
      padding-left: 10px;
      padding-right: 100px;
      color: white;

      h3 {
        color: $brightBrandColor;
        padding-bottom: 3px;
      }

      .small {
        color: $lightTextColor;
      }
    }
  }

  .footer-map {
    text-align: right;

    #footer-map-holder {
      background: $footerBoxBackground;
      @include bordered-box;
      float: right;
      height: 140px;
      width: 100%;
    }

    #footer-map {
      height: 100%;
      width: 100%;
    }

    a {
      display: block;
      clear: both;
    }
  }

  .footer-copyright {
    text-align: center;
    font-size: .9em;
    opacity: .8;
    a {
      color: $textColor;
    }
  }

  @media (min-width: $screen-lg-min) {
    .hours td {
      padding-right: 1em;
    }
  }

  @media (max-width: $screen-sm-max) {
    .footer-map {
      margin-top: 1em;
    }

    #promo-section {
      margin: 20px 0;
    }

    .footer-map #footer-map-holder {
      width: 100%;
    }

    .nav {
      list-style: none;
      text-align: center;
      margin: 0 0 8px 0;

      a {
        padding: 4px 0;
        display: block;
      }
    }
  }
}
