body {
  background: #ddd;
}

.content {
  padding: 20px;
}

.footer {
  height: auto;

  #promo-section {
    margin: 20px 0;
  }

  .footer-map #footer-map-holder {
    width: 100%;
  }

  .nav {
    list-style: none;
    text-align: center;
    margin: 0 0 8px 0;

    a {
      padding: 4px 0;
      display: block;
    }
  }
}

